<section class="team">
  <img src="img/team_fig.svg" alt="" class="team__figure" aria-hidden="true" />
  <div class="container">
    <h2 class="title team__title">Наша команда</h2>
    <ul class="team__list list-reset grid">
      <li class="team__item">
        <img
          src="img/team/team-face1.jpg"
          alt="Максим Золотарев"
          class="team__img"
        />
        <strong class="team__subtitle">Максим Золотарев</strong>
        <span class="team__post">Администратор</span>
      </li>
      <li class="team__item">
        <img
          src="img/team/team-face2.jpg"
          alt="Максим Золотарев"
          class="team__img"
        />
        <strong class="team__subtitle">Максим Золотарев</strong>
        <span class="team__post">Администратор</span>
      </li>
      <li class="team__item">
        <img
          src="img/team/team-face3.jpg"
          alt="Максим Золотарев"
          class="team__img"
        />
        <strong class="team__subtitle">Максим Золотарев</strong>
        <span class="team__post">Администратор</span>
      </li>
      <li class="team__item">
        <img
          src="img/team/team-face4.jpg"
          alt="Максим Золотарев"
          class="team__img"
        />
        <strong class="team__subtitle">Максим Золотарев</strong>
        <span class="team__post">Администратор</span>
      </li>
      <li class="team__item">
        <img
          src="img/team/team-face4.jpg"
          alt="Максим Золотарев"
          class="team__img"
        />
        <strong class="team__subtitle">Максим Золотарев</strong>
        <span class="team__post">Администратор</span>
      </li>
      <li class="team__item">
        <img
          src="img/team/team-face5.jpg"
          alt="Максим Золотарев"
          class="team__img"
        />
        <strong class="team__subtitle">Максим Золотарев</strong>
        <span class="team__post">Администратор</span>
      </li>
    </ul>
  </div>
</section>
